@font-face {
    font-family: 'Elden';
    src: url("../fonts/Mantinia\ Regular.otf");
}

@font-face {
    font-family: 'medieval';
    src: url("../fonts/MedievalSharp-Regular.ttf");
}

@font-face {
    font-family: 'alfa';
    src: url("../fonts/AlfaSlabOne-Regular.ttf");
}


* {
    padding: 0;
    margin: 0;
}

.background {
    width: 100%;
    z-index: 0;
    position: absolute;
}

.containerGraca {
    position: absolute;
    display: flex;
    border: 2px solid rgba(226, 202, 70, 0.455);
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.9), 
    0 0 40px rgba(212, 175, 55, 0.6);
    transition: box-shadow .6s ease, transform .3s ease;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    top: 40px;
    left: 30px;
    background-color: rgba(0, 0, 0, 0.867);
}

.containerGracaBoss {
    position: absolute;
    display: flex;
    border: 2px solid rgba(226, 202, 70, 0.455);
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.9), 
    0 0 40px rgba(212, 175, 55, 0.6);
    transition: box-shadow .6s ease, transform .3s ease;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    top: 675px;
    left: 30px;
    background-color: rgba(0, 0, 0, 0.867);
}

.containerGraca:hover{
    box-shadow: 0 0 35px rgba(242, 233, 103, 1),
                0 0 70px rgba(242, 233, 103, 0.8);
    transform: scale(1.05);
}

.containerGracaBoss:hover{
    box-shadow: 0 0 35px rgba(242, 233, 103, 1),
                0 0 70px rgba(242, 233, 103, 0.8);
    transform: scale(1.05);
}

.graca {
    width: 160px;
    height: auto;
}

.containerLogo {
    display: flex;
}

.logo {
    z-index: 1;
    width: 710px;
    height: auto;
    position: relative;
    left: 381px;
}

.containerJogo{
    position: absolute;
    top: 250px; /* ajuste conforme necessário */
    left: 80px; /* ajuste conforme necessário */
    z-index: 1;
}

.texto{
    display: block;
     width: 100%;    /* Garante o preenchimento total */

    font-family:'Elden', sans-serif;
    color: rgb(242, 233, 103);
    font-size: 28px;
    text-decoration: none;

    padding: 10px 0;
    transition: all .7s ease;
    border-radius: 6px;
}

.containerHist {
    position: absolute;
    top: 250px; /* ajuste conforme necessário */
    left: 1080px; /* ajuste conforme necessário */
    z-index: 1;
}

.containerDLC {
    position: absolute;
    top: 500px; /* ajuste conforme necessário */
    left: 1080px; /* ajuste conforme necessário */
    z-index: 1;
}

.containerBoss {
    position: absolute;
    top: 500px; /* ajuste conforme necessário */
    left: 80px; /* ajuste conforme necessário */
    z-index: 1;
}

.menu-box {
    display: flex;
    flex-direction: column; /* permite novos itens em coluna */
    gap: 10px; /* espaço entre os itens dentro */
    
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.9), 
    0 0 40px rgba(212, 175, 55, 0.6);
    transition: box-shadow .6s ease, transform .3s ease;
    padding: 20px 30px;
    border: 1px solid black; /* A borda desejada */
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.645); /* opcional para destacar */
    width: 300px; /* se ajustar ao conteúdo */
    height: auto;
    text-align: center;
    
}

.menu-box:hover {
    box-shadow: 0 0 35px rgba(242, 233, 103, 1),
                0 0 70px rgba(242, 233, 103, 0.8);
    transform: scale(1.05);
}

.containerTitulo {
    position: relative;
    z-index: 1;
    display: flex;
    left: 510px;
    top: 50px;
    border: solid 2px rgba(4, 11, 50, 0.756);
    width: 450px;
    height: auto;
    padding: 10px 20px;
    justify-content: center;
    border-radius: 50px;
    background-color: rgba(2, 2, 24, 0.919);
    box-shadow: 0 0 35px rgba(66, 90, 211, 0.825),
                0 0 70px rgba(96, 113, 238, 0.642);
}

.titulo {
    color: rgb(249, 251, 253);
    font-family: 'Elden', sans-serif;
    font-size: 55px;
}

.containerMenu {
    position: relative;
    z-index: 1;
    display: flex;
    left: 240px;
    top: 100px;
    padding: 10px 20px;
    border: solid 2px rgba(4, 11, 50, 0.756);
    width: 1000px;
    height: auto;
    border-radius: 50px;
    background-color: rgba(2, 2, 24, 0.919);
    box-shadow: 0 0 35px rgba(66, 90, 211, 0.825),
                0 0 70px rgba(96, 113, 238, 0.64);
    
}

.textoSobre {
    color: white;
    font-family: 'medieval', sans-serif;
    font-size: 28px;
}

.containerTitboss {
    position: relative;
    z-index: 1;
    display: flex;
    left: 450px;
    top: 50px;
    border: 1px solid black;
    width: 590px;
    height: auto;
    padding: 10px 20px;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.9), 
    0 0 40px rgba(212, 175, 55, 0.6);
    transition: box-shadow .6s ease, transform .3s ease;
    background: rgba(0, 0, 0, 0.645);
}

.containerBosses {
    display: flex;
    flex-wrap: wrap;         /* permite quebrar linha */
    position: relative;
    z-index: 1;
    gap: 25px;
    justify-content: center;
    padding: 20px;
    width: 100%;
    max-width: 1100px;       /* limita a largura total */
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.9),
                0 0 40px rgba(212, 175, 55, 0.6);
}

.boss {
    flex: 0 0 calc(33.33% - 20px);  /* garante 3 bosses por linha */
    text-align: center;
}

.imgBoss {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform .3s ease, box-shadow .3s ease;
}

.golden {
    border-radius: 10px;
    border: solid rgba(242, 233, 103, 0.8) 2px;
}

.golden:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(242, 233, 103, 1),
                0 0 50px rgba(242, 233, 103, 0.8);
}

.tituBoss {
    color: white;
    font-family: 'medieval', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
}

.maliketh {
    border-radius: 10px;
    border: solid rgba(185, 8, 8, 0.7) 2px;
}

.maliketh:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(108, 8, 8, 0.812),
                0 0 50px rgba(102, 7, 7, 0.8);
}

.radahn {
    border-radius: 10px;
    border: solid rgb(103, 10, 224) 2px;
}

.radahn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgb(93, 0, 255),
                0 0 50px rgb(113, 31, 235);
}

.malenia {
    border-radius: 10px;
    border: solid rgba(245, 53, 53, 0.949) 2px;
}

.malenia:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(235, 25, 25, 0.926),
                0 0 50px rgba(220, 8, 8, 0.886);
}

.elemer {
    border-radius: 10px;
    border: solid rgba(178, 3, 3, 0.825) 2px;
}

.elemer:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(88, 5, 5, 0.763),
                0 0 50px rgba(201, 8, 8, 0.679);
}

.containerRadahn {
    display: flex;    
    position: relative;
    z-index: 1;
    padding: 20px;
    margin-right: 10px;
    left: 55px;
    text-align: center;
}

.tituRadahn {
    font-family: 'alfa';
    color: rgb(53, 2, 63);
    font-size: 60px;
    -webkit-text-stroke-width: 1px; /* Largura do contorno */
    -webkit-text-stroke-color: #b6a934d6; /* Cor do contorno */
}

.containerTextoRadahn {
    display: flex;    
    position: relative;
    z-index: 1;
    padding: 15px;
    border: solid 2px purple;
    border-radius: 50px;
    margin-right: 600px;
    left: 40px;
    background-color: rgba(58, 12, 87, 0.934);
    box-shadow: 0 0 20px rgba(64, 2, 108, 0.9),
                0 0 40px rgba(89, 13, 165, 0.6);
}

.textoRadahn {
    color: white;
    font-family: 'medieval', sans-serif;
    font-size: 25px;
}

.textoMaliketh {
     color: white;
    font-family: 'medieval', sans-serif;
    font-size: 25px;
}

.containerMaliketh {
    display: flex;    
    position: relative;
    z-index: 1;
    padding: 20px;
    margin-right: 10px;
    left: 750px;
    text-align: center;
}

.tituMaliketh {
    font-family: 'alfa';
    color: rgb(110, 0, 0);
    font-size: 60px;
    -webkit-text-stroke-width: 1px; /* Largura do contorno */
    -webkit-text-stroke-color: #0b0000d6; /* Cor do contorno */
}

.containerTextoMaliketh {
    display: flex;    
    position: relative;
    z-index: 1;
    padding: 15px;
    border: solid 2px rgb(71, 0, 0);
    border-radius: 50px;
    margin-right: 600px;
    left: 580px;
    background-color: rgba(36, 7, 7, 0.934);
    box-shadow: 0 0 20px rgba(63, 2, 2, 0.9),
                0 0 40px rgba(130, 0, 0, 0.6);
}

.textoMaliketh{
    color: white;
    font-family: 'medieval', sans-serif;
    font-size: 25px;
}

.containerGodfrey {
    display: flex;    
    position: relative;
    z-index: 1;
    padding: 20px;
    right: 660px;
    text-align: center;
    top: 30px;
    margin-left: 500px;
}

.tituGodfrey {
    font-family: 'alfa';
    color: rgb(217, 200, 88);
    font-size: 60px;
    -webkit-text-stroke-width: 1px; /* Largura do contorno */
    -webkit-text-stroke-color: #3e3c03d6; /* Cor do contorno */
}

.containerTextoGodfrey {
    display: flex;    
    position: relative;
    z-index: 1;
    padding: 15px;
    border: solid 2px rgb(215, 215, 12);
    border-radius: 50px;
    margin-right: 800px;
    left: 760px;
    top: 45px;
    background-color: rgba(101, 98, 13, 0.934);
    box-shadow: 0 0 20px rgba(141, 127, 4, 0.9),
                0 0 40px rgba(229, 216, 72, 0.6);
}

.textoGodfrey{
    color: rgb(255, 253, 253);
    font-family: 'medieval', sans-serif;
    font-size: 25px;
}

.containerMalenia {
    display: flex;    
    position: relative;
    z-index: 1;
    padding: 20px;
    margin-right: 10px;
    left: 120px;
    top: 30px;
    text-align: center;
}

.tituMalenia {
    font-family: 'alfa';
    color: rgb(90, 5, 5);
    font-size: 60px;
    -webkit-text-stroke-width: 1px; /* Largura do contorno */
    -webkit-text-stroke-color: #e7d959d6; /* Cor do contorno */
}

.containerTextoMalenia {
    display: flex;    
    position: relative;
    z-index: 1;
    padding: 15px;
    border: solid 2px rgb(255, 223, 40);
    border-radius: 50px;
    margin-right: 600px;
    left: 40px;
    bottom: 40px;
    background-color: rgba(81, 6, 6, 0.934);
    box-shadow: 0 0 20px rgba(163, 129, 5, 0.9),
                0 0 40px rgba(130, 0, 0, 0.6);
}

.textoMalenia {
    color: rgb(255, 247, 98);
    font-family: 'medieval', sans-serif;
    font-size: 25px;
}

.containerRadagon {
    display: flex;    
    position: relative;
    z-index: 1;
    padding: 20px;
    margin-right: 10px;
    left: 80px;
    top: 65px;
    text-align: center;
}

.tituRadagon {
    font-family: 'alfa';
    color: rgb(237, 206, 4);
    font-size: 60px;
    -webkit-text-stroke-width: 1px; /* Largura do contorno */
    -webkit-text-stroke-color: #685500dd; /* Cor do contorno */
}

.containerTextoRadagon {
    display: flex;    
    position: relative;
    z-index: 1;
    padding: 15px;
    border: solid 2px rgb(255, 217, 0);
    border-radius: 50px;
    margin-right: 600px;
    left: 40px;
    top: 90px;
    background-color: rgba(129, 109, 6, 0.816);
    box-shadow: 0 0 20px rgba(176, 138, 11, 0.9),
                0 0 40px rgba(225, 185, 7, 0.6);
}

.textoRadagon {
    color: rgb(255, 255, 253);
    font-family: 'medieval', sans-serif;
    font-size: 25px;
}

.corpoElemer {
    background-image: url(https://i.redd.it/theory-ensha-is-a-spartan-from-eochaid-like-elemer-of-the-v0-fhanygitpqwd1.jpg?width=1920&format=pjpg&auto=webp&s=9632ae6c144a0d60c959d260b20bb0ce5c894a08);
    background-size: cover;
}

.containerElemer {
    display: flex;    
    position: relative;
    z-index: 1;
    padding: 20px;
    margin-right: 10px;
    left: 40px;
    top: 30px;
    text-align: center;
}

.tituElemer {
    font-family: 'alfa';
    color: rgb(124, 7, 7);
    font-size: 60px;
    -webkit-text-stroke-width: 1px; /* Largura do contorno */
    -webkit-text-stroke-color: #1c0101d6; /* Cor do contorno */
}

.containerTextoElemer {
    display: flex;    
    position: relative;
    z-index: 1;
    padding: 15px;
    border: solid 2px rgb(123, 6, 6);
    border-radius: 50px;
    margin-right: 730px;
    left: 50px;
    top: 30px;
    background-color: rgba(81, 6, 6, 0.934);
    box-shadow: 0 0 20px rgba(63, 2, 2, 0.9),
                0 0 40px rgba(130, 0, 0, 0.6);
}

.textoElemer {
    color: rgb(255, 247, 98);
    font-family: 'medieval', sans-serif;
    font-size: 25px;
}

.containerLogoDLC {
    display: flex;
}

.logodlc {
    z-index: 1;
    width: 630px;
    height: auto;
    position: relative;
    left: 460px;
    top: 30px;
}

